
html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("img/startbild.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.column {
width: 25%;
}

.card {
    height: 100%;
}
